*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;  
}

img{
    width: 100%;
    border-radius: 10%;
    height: 150px;
    width: 150px;
    border: 5px #0086ae solid;
    padding: 3.7px;
}

h1{
    margin-top: 24px;
    font-size: 32px;
    color: 00082F;
}

h5{
    margin-top: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    opacity: 0.7;
}

ul{
    margin: 48px 0;
    list-style: none;
    font-size: 15px;
}

ul li a {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background: #0086ae;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 350ms;
}

/*pseudo-class */
ul li a:hover {
    background: #006090;
}
